@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    scrollbar-color: hsl(0, 0%, 30%) hsl(0, 0%, 10%);
  }
  html, body {
    @apply text-white;
    @apply bg-neutral-900;
  }
  ::-webkit-scrollbar {
    background: hsl(0, 0%, 10%);
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 30%);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 40%);
  }
  ::-webkit-scrollbar-thumb:active {
    background: hsl(0, 0%, 50%);
  }
}